body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    background: linear-gradient(to bottom, #28a745 70%, #a7a545);
    background: #28a745;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.navbar .align-items {
    margin-left: 0;
}

.navbar-nav .nav-link {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    color: white;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ff000d;
}

.nav-link {
    color: white !important;
}

nav .container {
    margin: 0rem 1rem;
}

.form-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.form-container .card {
    background: white;
    padding: 30px 50px;
    border-radius: 10px;
    width: 70% !important;
    height: 40vh !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-container .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.form-container .btn {
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 1.1em;
    transition: background 0.3s;
}

.form-container .btn:hover {
    background-color: #ff9800;
}

.forgot {
    display: block;
    text-align: right;
    color: #666;
    text-decoration: none;
    font-size: 0.9em;
    margin-top: -10px;
}

footer {
    text-align: center;
    padding: 20px 15px;
    background: linear-gradient(to bottom, #28a745 50%, #a7a545);
    background: #28a745;
    color: white;
    margin-top: 4.5rem;
    font-size: 0.9em;
}

.hidden {
    display: none;
}

.toggle-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #666;
    font-size: 0.9em;
    text-decoration: none;
}

.main {
    display: block;
    align-items: center;
    justify-content: center;
}

.navbar-expand-lg {
    padding: .5rem;
}

.card-title {
    color: #28a745;
    font-weight: bolder;
}